/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules 
   ボックスサイジングのルール */
   *,
   *::before,
   *::after {
     box-sizing: border-box;
   }
   
   /* Remove default margin 
      デフォルトのマージンを削除する */
   body,
   h1,
   h2,
   h3,
   h4,
   p,
   figure,
   blockquote,
   dl,
   dd {
     margin-block-end: 0;
   }
   
   /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed.
      ul、ol要素のリストスタイルを削除する。リストの役割が指定されているため、デフォルトのスタイリングが削除されます */
   ul[role="list"],
   ol[role="list"] {
     list-style: none;
   }
   
   /* Set core root defaults 
      コアルートのデフォルトを設定する */
   html:focus-within {
     scroll-behavior: smooth;
   }
   
   /* Set core body defaults 
      コアボディのデフォルトを設定する */
   body {
     min-height: 100dvh;
     text-rendering: optimizeSpeed;
     line-height: 1.5;
   }
   
   /* A elements that don't have a class get default styles 
      class属性を持たない"a"要素にはデフォルトのスタイルが適用されます */
   a:not([class]) {
     text-decoration-skip-ink: auto;
   }
   
   /* Make images easier to work with
      画像の操作を容易にする */
   img,
   picture {
     max-width: 100%;
     display: block;
   }
   
   /* Inherit fonts for inputs and buttons
      入力フィールドとボタンにフォントを継承させる  */
   input,
   button,
   textarea,
   select {
     font: inherit;
   }
   
   /* Remove all animations, transitions and smooth scroll for people that prefer not to see them.
   アニメーション、トランジション、スムーズスクロールを全て削除し、それらを見たくない人のために設定します  */
   @media (prefers-reduced-motion: reduce) {
     html:focus-within {
       scroll-behavior: auto;
     }
   
     *,
     *::before,
     *::after {
       animation-duration: 0.01ms !important;
       animation-iteration-count: 1 !important;
       transition-duration: 0.01ms !important;
       scroll-behavior: auto !important;
     }
   }
   
   /* hide overflow x 
   横方向のオーバーフローを非表示にする*/
   html,
   body {
     overflow-x: hidden;
   }
   
   body {
     padding: 0;
     margin: 0;
     position: relative;
   }

   
   /* ------------------- */
/* PRIMARY NAVBAR      */
/* ------------------- */

.nav-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 50px;
    position: relative;
  }
  
  .primary-nav_ul {
    display: flex;
    gap: 100px;
    height: 40px;
  }
  .primary-nav_ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .langauge-btn-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  .lang-btn {
    background-color: transparent;
    border: none;
    color: #c8c8c8;
  }
  .lang-btn:hover {
    cursor: pointer;
  }
  
  .active-lang {
    color: #000000;
  }
  
  .primary_contact-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding-left: 60px;
    border-left: 1px solid #002d80;
    height: 40px;
  }
  .primary_contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .primary_link {
    text-decoration: none;
    color: #002d80;
  }
  .primary_link:hover,
  .primary_contact-wrapper img:hover {
    cursor: pointer;
  }

  /* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

/* ------------------- */
/* variables              */
/* ------------------- */

:root {
  --noto-sans: "Noto Sans JP", sans-serif;
  --trade-gothic: trade-gothic-next, sans-serif;
}

body {
  font-family: var(--noto-sans);
}

/* ------------------- */
/* Font weights */
/* ------------------- */
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.gothic-italic {
  font-family: var(--trade-gothic);
  font-weight: 400;
  font-style: italic;
}

/* ------------------- */
/* Font sizes */
/* ------------------- */

.fs-16 {
  font-size: 16px;
}
.fs-64 {
  font-size: 64px;
}
.fs-86 {
  font-size: 86px;
}
.fs-40 {
  font-size: 40px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.fs-27 {
  font-size: 27px;
}
.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}
.fs-49 {
  font-size: 49px;
}
.fs-30 {
  font-size: 30px;
}
.fs-17 {
  font-size: 17px;
}

/* ------------------- */
/* Font Colors */
/* ------------------- */

.yellow {
  color: #ffff00;
}

.white {
  color: #ffffff;
}

.blue {
  color: #002d80;
}


.body{
    position: relative;
}
main{
    margin-top: 30vh;
    display: grid;
    place-content: center;
    /* border: 1px solid red; */
}

.trasntion{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2BB9FC;
    transform: scaleY(0);
}
.content-top{
    position: relative;
}

.header-revealer{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.header-revealer::after{
    content: "";
    position: absolute;
    top: 64px;
    left: 0;
    width: 110%;
    height: 110%;
    background: white;
    border: 1px solid red;
}

.content-bottom{
    margin-top: 50px;
}